/* 
.topnav {
    position: relative;
    overflow: hidden;
    margin: 0%;
    background-color: lightgray;
    font-size: 20px; */
  /* } */
  body{        
    padding-bottom: 40px;
    margin:0;
}
  .topnav {
    overflow: hidden;
    background-color: #E0E0E0;
    position: fixed;
    top: 0;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-right: 15px;
    padding-left: 15px;
    max-height: 340px;
    
  }
  .topnav a {
    float: left;
    top: 65%;
    color: #428BCA;
    text-align: center;
    padding: 4px 36px;
    margin-top: 36px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
   color: darkblue;
  }
  .topnav-left {
    float: left;
    font-size: 20px;
    font-family: monospace;
    position: absolute;
    top:65%;
    left: 8%;
    transform: translate(-50%, -50%);
  }
  .topnav-centered {
    float: none;
    font-size: 20px;
    font-family: monospace;
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  .topnav-right {
    float: right;
  }
  /* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }

/*box*/
.container{
  top: 0%;
  float: left;
  width: 100%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  left: initial;
}
.box{
  width: 350px;
  height: 200px;
  float: left;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  
  scroll-snap-align: start;
  transition: all 0.2s ease-in-out;
}
.box:hover{
  transform: scale(1.1,1.1);
  z-index:1;
}

.heading{
  color: black; 
  margin: 20px; 
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  font-family: monospace;
}

.heading1{
  color: black; 
  margin-top: 105px;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 20px;
  font-family: monospace;
 
}

/*footer */
 .fixed-footer{
  width: 100%;
  height: 50px;
  position: fixed;      
  font-family: monospace;  
  background: #E0E0E0;
  color:black;
  z-index: 1;
}
.fixed-header{
  top: 0;
}
.fixed-footer{
  bottom: 0;
} 

.container1{
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  font-size: 15px;
  display: flex;
}