
.topnav {
    position: relative;
    overflow: hidden;
    margin: 0%;
    background-color: lightgray;
    font-size: 20px;
  }
  
  .topnav a {
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
   color: darkblue;
  }
  .topnav-left {
    float: left;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
  }
  .topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .topnav-right {
    float: right;
  }
  /* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }