
.topnav {
    position: relative;
    overflow: hidden;
    margin: 0%;
    background-color: lightgray;
    font-size: 20px;
  }
  
  .topnav a {
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
   color: darkblue;
  }
  .topnav-left {
    float: left;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
  }
  .topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .topnav-right {
    float: right;
  }
  /* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }


  * {
    box-sizing: border-box;
  }
  
  .zoom {
    padding: 50px;
    transition: transform .1s;
    width: 150px;
    height: 150px;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  .cols{
      width: 18%;
      margin-left: 2%;
  }
  .col li{
      width: auto;
  }
  ul.col {  width: 18%; margin: 0; padding: 0;  }
  .col li > * {width: auto; margin: .4em;text-decoration: none; }
  tr{
      width: 18%;
  }
  .blue {
    width: 15%;
    display:inline-block;
    margin-right: -4px;
    box-sizing: border-box;
    padding: 1%;
}

.blue > div {
    background:blue;
    height:200px;
}